.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 120px 20px 40px 20px; /* topo maior */
  min-height: calc(100vh - 150px);
}
.cadastro-form-wrapper {
  max-width: 450px;
  width: 100%;
  background-color: #242424;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: #772c19;
}

.cadastro-form-wrapper h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  color: #f5f2f2;
}

.cadastro-form-wrapper p {
  text-align: center;
  margin-bottom: 25px;
  color: #f3f1f1;
}

.cadastro-form .form-group {
  margin-bottom: 20px;
}

.cadastro-form .form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #fffffff5;
}

.cadastro-form .form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; 
}

.cadastro-form .form-control:focus {
  border-color: #772c19;
  box-shadow: 0 0 0 0.2rem rgba(119, 44, 25, 0.25);
  outline: none;
}

.cadastro-form .btn-primary {
  background-color: #772c19;
  border-color: #772c19;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.cadastro-form .btn-primary:hover {
  background-color: #5a2113;
  border-color: #5a2113;
}

.alert-success {
  text-align: center;
}