
.simple-header {
  color: white; 
  padding: 15px 30px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.header-logo h1 {
  margin: 0; 
  font-size: 1.5em; 
}


.header-nav ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
}

.header-nav li {
  margin-left: 20px; 
}

.header-nav a {
  color: white; 
  text-decoration: none; 
  font-weight: bold;
  transition: color 0.3s ease; 
}

.header-nav a:hover {
  color: #ff9900; 
}


@media (max-width: 600px) {
  .simple-header {
    flex-direction: column; 
    padding: 15px 10px;
  }

  .header-logo {
    margin-bottom: 10px; 
  }

  .header-nav li {
    margin: 0 10px; 
  }
}